body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background: #f2e4eb; }

/* HEADING */
/* ================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: "Great Vibes", sans-serif;
  margin: 0; }

/* PARAGRAPH */
/* ================================== */
p {
  margin: 0;
  color: #beadc9;
  line-height: 185.71429%;
  letter-spacing: 0.02em;
  color: #908499; }

/* ANCHOR */
/* ================================== */
a {
  color: #ad658b;
  transition: all 200ms ease-out; }
  a:hover {
    color: #8e3c67;
    text-decoration: none; }

/* SHORTHAND TO REMOVE MARGIN AND PADDING OF BOOTSTRAP */
/* ================================== */
.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

/* SECTION-HEADER */
/* ================================== */
.section-header {
  position: relative;
  margin-bottom: 60px; }
  .section-header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 154px;
    opacity: 0.2; }
  .section-header h2, .section-header h6 {
    z-index: 3;
    position: relative; }
  .section-header h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #ad658b; }
  .section-header h6 {
    font-size: 30px;
    line-height: 100%;
    color: #79578e;
    margin-bottom: 7px; }

/* SECTION-BACKGROUND */
/* ================================== */
.section-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%; }
  .section-background .flower {
    position: absolute;
    top: 50%; }
    .section-background .flower.right {
      right: -5%;
      transform: rotateY(0) translateY(-50%); }
    .section-background .flower.left {
      left: -5%;
      transform: rotateY(180deg) translateY(-50%); }

/* BTN */
/* ================================== */
.btn {
  text-transform: uppercase;
  cursor: pointer; }

/* BTN-DEFAULT */
/* ================================== */
.btn-default {
  background: #79578e;
  border-radius: 30px;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #fff3f1;
  padding: 10px 20px;
  transition: all 150ms ease-in-out; }
  .btn-default:hover {
    background: #9370a8;
    color: #fff3f1; }
  .btn-default:focus {
    box-shadow: none; }

/* FORM GROUP */
/* ================================== */
.form-group {
  margin-bottom: 15px; }

/* FORM-CONTROL */
/* ================================== */
.form-control {
  background: #e2dbe7;
  padding: 15px 23px;
  border: 2px solid #beadc9;
  border-radius: 10px;
  text-transform: capitalize;
  color: #ad658b;
  transition: all 300ms ease-out; }
  .form-control:focus {
    background-color: #f2e4eb;
    color: #ad658b;
    border-color: #ad658b;
    box-shadow: none; }
  .form-control:hover::placeholder {
    color: #ad658b; }
  .form-control::placeholder {
    font-size: 16px;
    color: #977da8;
    text-transform: capitalize; }
  .form-control[type='email'] {
    text-transform: lowercase; }

/* MFP-WITH-ZOOM */
/* ================================== */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out; }

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1; }

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0; }

/* NAVBAR */
/* ================================== */
.navbar {
  background: #e2dbe7;
  height: 60px; }
  @media (max-width: 768px) {
    .navbar {
      background: #cc95b2;
      height: inherit; } }
  .navbar .navbar-brand:hover > img {
    transform: translateX(10px); }
  .navbar .navbar-brand img {
    width: 100px;
    height: auto;
    transition: all 200ms ease-out; }

.navbar-toggler {
  background-image: url("../img/hamburger-icon.svg");
  background-repeat: no-repeat;
  cursor: pointer; }
  .navbar-toggler:active, .navbar-toggler:focus {
    outline: 0;
    box-shadow: none; }

@media (max-width: 768px) {
  #navbar-section {
    padding-top: 15px;
    padding-bottom: 15px; } }

@media (max-width: 768px) {
  #navbar-section .navbar-nav {
    align-items: flex-start !important; } }

#navbar-section .navbar-nav > .nav-item.cta-rspv:hover {
  background: #8e3c67; }

#navbar-section .navbar-nav > .nav-item.cta-rspv:hover > .nav-link::after {
  background: #e2dbe7; }

#navbar-section .nav-item {
  padding: 0 0.25em; }

#navbar-section .nav-link {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.08em;
  color: #5c3575;
  position: relative;
  transition: all 200ms ease-out; }
  #navbar-section .nav-link:hover {
    color: #8e3c67; }
  #navbar-section .nav-link:hover::after {
    width: 20px; }
  #navbar-section .nav-link::after {
    content: "";
    background: #5c3575;
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: all 200ms ease-out; }
    @media (max-width: 768px) {
      #navbar-section .nav-link::after {
        left: 0;
        transform: translateX(0); } }

#navbar-section .cta-rspv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #79578e;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 15px;
  position: relative;
  mask: url("../img/rectangle.svg"), url("../img/elipse.svg"), url("../img/elipse.svg");
  mask-size: 100%, 20px, 20px;
  mask-composite: source-out;
  mask-repeat: repeat, no-repeat, no-repeat;
  mask-position: 0 0, -10px calc(100% + 10px), calc(100% + 10px) calc(100% + 10px); }
  @media (max-width: 768px) {
    #navbar-section .cta-rspv {
      display: none; } }
  #navbar-section .cta-rspv::after {
    content: "";
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 35%;
    border: 1px dashed #fff3f1;
    z-index: -1; }
  #navbar-section .cta-rspv span {
    line-height: 14px;
    color: #fff3f1;
    display: block;
    margin: 5px 0; }

/*BANNER-STANDART-1 */
/* ================================== */
#banner-standart-1 {
  height: 100vh;
  position: relative;
  background: #e2dbe7;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
  overflow: hidden; }
  #banner-standart-1::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #f2e4eb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    z-index: -1; }
  #banner-standart-1 .container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #banner-standart-1 .banner-content {
    text-align: center; }
  #banner-standart-1 .banner-sub-heading {
    margin-bottom: 90px; }
    #banner-standart-1 .banner-sub-heading h2 {
      padding: 15px 30px;
      border-top: 4px dotted #beadc9;
      border-bottom: 4px dotted #beadc9;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.44em;
      color: #79578e;
      display: inline-block;
      position: relative; }
      #banner-standart-1 .banner-sub-heading h2::before, #banner-standart-1 .banner-sub-heading h2::after {
        content: "";
        background: #beadc9;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
      #banner-standart-1 .banner-sub-heading h2::before {
        left: 0; }
      #banner-standart-1 .banner-sub-heading h2::after {
        right: 0; }
  #banner-standart-1 .banner-heading {
    width: 40%;
    height: auto;
    position: relative;
    margin: 30px auto; }
    @media (max-width: 540px) {
      #banner-standart-1 .banner-heading {
        width: 100%; } }
    #banner-standart-1 .banner-heading h1 {
      font-size: 45px;
      line-height: 60px;
      color: #5c3575;
      display: inline-block;
      background: transparent;
      opacity:0.9;
      padding: 10px 50px;
      position: relative;
      z-index: 1; }
      #banner-standart-1 .banner-heading h1::before {
        z-index: -1;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff3f1;
        border-radius: 60px;
        mask: url("../img/rectangle.svg"), url("../img/elipse.svg"), url("../img/elipse.svg");
        mask-repeat: repeat, no-repeat, no-repeat;
        mask-size: 100%, 20px, 20px;
        mask-position: 0 0, 30px calc(50%), calc(100% - 30px) calc(50%);
        mask-composite: source-out; }
  #banner-standart-1 .flower {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    #banner-standart-1 .flower.left {
      left: 60px;
      transform: translateY(-50%) rotate(-90deg); }
    #banner-standart-1 .flower.right {
      right: 60px;
      transform: translateY(-50%) rotate(-90deg) rotateX(180deg); }
    #banner-standart-1 .flower img {
      width: 230px;
      height: auto; }
  #banner-standart-1 .banner-date ul {
    list-style-type: none;
    padding: 10px 0;
    background: #5c3575;
    border-radius: 30px;
    width: 250px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    #banner-standart-1 .banner-date ul::before {
      content: "";
      width: calc(100% + 30px);
      height: calc(100% + 30px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px dashed #beadc9;
      border-radius: 60px; }
    #banner-standart-1 .banner-date ul li {
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      color: #fff3f1; }
    #banner-standart-1 .banner-date ul li > span.dot {
      display: block;
      width: 10px;
      height: 10px;
      background: #79578e;
      border-radius: 100%;
      margin: 0 10px; }
  #banner-standart-1 .banner-detail {
    position: relative;
    padding-top: 40px; }
    #banner-standart-1 .banner-detail h3 {
      font-size: 26px;
      line-height: 26px;
      color: #ad658b;
      margin-bottom: 20px; }
    #banner-standart-1 .banner-detail p {
      font-size: 12px;
      line-height: 166.66667%;
      letter-spacing: 0.2em;
      color: #79578e;
      width: 300px;
      margin: 0 auto; }